@mixin nav-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
}

@mixin heading-text {
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
}

@mixin form-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: $text-color;
}

@mixin table-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    color: $text-color;
}
