* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f6f6f6;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.nav {
  background: #0364ff;
  color: #fff;
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 96px;
  margin-left: 16px;
  margin-right: 16px;
}
.nav__item {
  transition: all 0.25s;
  border-radius: 15px;
}
.nav__item:hover {
  transition: width 2s;
  background: #0500ff;
  border-radius: 15px;
}
.nav__link {
  display: flex;
  gap: 10px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.nav__link-overview {
  margin-left: 2px;
}
.nav__text {
  margin-top: 3px;
}
.nav__text-overview {
  margin-left: 2px;
}

.main {
  width: calc(100% - 270px);
  margin-left: 270px;
  background-color: #f6f7fa;
}

.userLine {
  height: 80px;
  background-color: #fff;
  width: 100%;
}

.transactions__name {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: left;
}
.transactions__parametrs {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.transactions__buttons {
  display: flex;
}
.transactions__button {
  margin: 0 5px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 1s;
}
.transactions__button:hover {
  background-color: #fff;
}
.transactions__button--date {
  border: 1px solid #aeb3cd;
  background-color: #f6f7fa;
}
.transactions__button--go {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #0364ff;
}
.transactions__button--go:hover {
  border: 1px solid #0364ff;
  color: #0364ff;
}
.transactions__button--editTransactions {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #0364ff;
}
.transactions__button--editTransactions:hover {
  border: 1px solid #0364ff;
  color: #0364ff;
}
.transactions__button--filter, .transactions__button--export {
  background-color: #fff;
  display: flex;
  gap: 10px;
}
.transactions__exportIcon {
  margin-top: 1px;
}
.transactions__filterIcon {
  margin-top: 3px;
}
.transactions__search {
  position: relative;
}
.transactions__input {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  background: #fff;
  border: 1px solid #aeb3cd;
  border-radius: 15px;
  padding: 13px 15px 13px 46px;
  margin-left: 35px;
  margin-bottom: 20px;
  min-width: 300px;
  max-width: 412px;
}
.transactions__searchIcon {
  position: absolute;
}
.transactions__searchIcon--oval {
  top: 13px;
  left: 52px;
}
.transactions__searchIcon--path {
  top: 24px;
  left: 63px;
}

.tbd1 {
  height: 100vh;
  background: #bbf5bb;
}

.createAccount__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 116px 86px 167px;
}
.createAccount__img {
  max-height: 503px;
  max-height: 483px;
}

@media screen and (max-width: 1200px) {
  .createAccount__wrapper {
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .createAccount__photo {
    display: none;
  }
}
.logIn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 116px 86px 167px;
}
.logIn__img {
  max-height: 483px;
  max-height: 483px;
}

@media screen and (max-width: 1200px) {
  .logIn__wrapper {
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .logIn__photo {
    display: none;
  }
}
.forgotPassword__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 116px 86px 167px;
}
.forgotPassword__img {
  max-height: 483px;
  max-height: 483px;
}

@media screen and (max-width: 1200px) {
  .forgotPassword__wrapper {
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .forgotPassword__photo {
    display: none;
  }
}
.resetPassword__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 116px 86px 167px;
}
.resetPassword__img {
  max-height: 483px;
  max-height: 483px;
}

@media screen and (max-width: 1200px) {
  .resetPassword__wrapper {
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .resetPassword__photo {
    display: none;
  }
}
.newPassword__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 116px 86px 167px;
}
.newPassword__img {
  max-height: 483px;
  max-height: 483px;
}

@media screen and (max-width: 1200px) {
  .newPassword__wrapper {
    padding: 0;
    margin: 0 auto;
    justify-content: center;
  }
  .newPassword__photo {
    display: none;
  }
}
.form {
  max-width: 346px;
  min-width: 300px;
}
.form__checkboxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form__rememberMe {
  margin-left: -20px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
}
.form__item {
  border: 1px solid #aeb3cd;
  border-radius: 15px;
  padding: 13px 15px;
  margin-bottom: 20px;
}
.form__link {
  color: #0364ff;
}
.form__link-apper {
  margin-bottom: 8px;
}
.form__forgotPassword {
  color: #0364ff;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0;
  margin-top: 8px;
}
.form__heading {
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 30px;
}
.form__text {
  margin-bottom: 12px;
}
.form__checkbox {
  display: flex;
  gap: 30px;
  margin-top: 8px;
}
.form__terms {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__termsList {
  line-height: 0;
}
.form__terms, .form__termsList, .form__text, .form__rememberMe, .form__goToSignIn, .form__goToCreateAccount {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #535875;
}
.form__goToSignIn, .form__goToCreateAccount {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .form__heading {
    margin-top: 100px;
  }
}
.table {
  width: 100%;
}
.table__heading, .table__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  color: #535875;
}
.table__item--name {
  color: #0f1222;
}

.button {
  display: block;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  background: #0364ff;
  transition: background-color 0.5s;
}
.button:hover {
  border: 1px solid #535875;
  color: #0364ff;
  background-color: #fff;
}

.foodie {
  background: #25b989;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas: "foodie__map foodie__home";
}
.foodie__map {
  height: 100vh;
}
.foodie__home {
  background: #fff;
}
.foodie__googleMap {
  width: 100%;
}
.foodie__logo {
  padding-top: 50px;
  padding-right: 50px;
  text-align: right;
}
.foodie__signUp {
  display: flex;
  padding-left: 123px;
  padding-top: 80px;
}
.foodie__join {
  max-width: 510px;
}
.foodie__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.foodie__text {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.foodie__button {
  font-family: "Poppins", sans-serif;
  margin-bottom: 170px;
  cursor: pointer;
  border-radius: 5px;
  padding: 17px 110px;
  color: #fff;
  background-color: #25b989;
  transition: background-color 0.5s;
}
.foodie__button:hover {
  background-color: #056b4b;
}
.foodie__card {
  position: relative;
  left: -20px;
  top: 30px;
  z-index: 1;
}
.foodie__bigYellow {
  position: absolute;
  left: 20px;
  top: -30px;
}
.foodie__smallGreen {
  position: absolute;
  left: 420px;
  top: -30px;
}
.foodie__smallYellow {
  position: absolute;
  left: 500px;
  top: 80px;
}
.foodie__secondBlock {
  padding-left: 123px;
}
.foodie__whoWe {
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}
.foodie__img {
  height: 177px;
  width: 212px;
}
.foodie__blocksContent {
  font-family: "Poppins", sans-serif;
  max-width: 555px;
}
.foodie__blocksHeading {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
.foodie__blocksText {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.foodie__insideBlock {
  box-shadow: 3.28678px 3.28678px 9.03863px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  gap: 40px;
  padding: 50px 0 60px 80px;
}
.foodie__joinNow {
  display: flex;
  margin-left: 169px;
  margin-top: 830px;
  font-family: "Poppins", sans-serif;
}
.foodie__button--orange {
  background: #f95b00;
  margin: 0;
}
.foodie__phonesHeading {
  font-family: Poppins;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  margin-top: 70px;
  margin-bottom: 15px;
}
.foodie__phonesText {
  font-family: Poppins;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
  max-width: 340px;
}
.foodie__phonesImg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .foodie .signUp {
    flex-direction: column;
  }
}
