.forgotPassword {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 116px 86px 167px;
    }

    &__img {
        max-height: 483px;
        max-height: 483px;
    }
}

@media screen and (max-width: $optimizing-standart-screen-breakpoint) {
    .forgotPassword {
        &__wrapper {
            padding: 0;
            margin: 0 auto;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
}
