.form {
    max-width: 346px;
    min-width: 300px;

    &__checkboxWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__rememberMe {
        margin-left: -20px;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
    }

    &__item {
        border: 1px solid #aeb3cd;
        border-radius: 15px;
        padding: 13px 15px;
        margin-bottom: 20px;
    }

    &__link {
        color: $main-color;

        &-apper {
            margin-bottom: 8px;
        }
    }

    &__forgotPassword {
        color: $main-color;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0;
        margin-top: 8px;
    }

    &__heading {
        @include heading-text;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 12px;
    }

    &__checkbox {
        display: flex;
        gap: 30px;
        margin-top: 8px;
    }

    &__terms {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__termsList {
        line-height: 0;
    }

    &__terms,
    &__termsList,
    &__text,
    &__rememberMe,
    &__goToSignIn,
    &__goToCreateAccount {
        @include form-text;
    }

    &__goToSignIn,
    &__goToCreateAccount {
        text-align: center;
    }
}

@media screen and (max-width: $optimizing-standart-screen-breakpoint) {
    .form {
        &__heading {
            margin-top: 100px;
        }
    }
}
