// @import ''

.nav {
    background: $main-color;
    color: $white-color;
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 96px;
        margin-left: 16px;
        margin-right: 16px;
    }

    &__item {
        transition: all 0.25s;
        border-radius: 15px;
        // margin: 0 16px;
        // padding: 16px 19px;

        &:hover {
            transition: width 2s;
            background: $hover-main-color;
            border-radius: 15px;
        }
    }

    &__link {
        display: flex;
        gap: 10px;
        padding: 16px;
        // padding: 16px 60px 20px 16px;
        // margin: 19px 16px;
        @include nav-text;

        &-overview {
            margin-left: 2px;
        }
    }

    &__text {
        margin-top: 3px;

        &-overview {
            margin-left: 2px;
        }
    }
}
