// @import ''

.nav {
    background: $main-color;
    color: $white-color;
    position: fixed;
    height: 100%;
    width: 270px;

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 96px;
    }

    &__item {
        padding: 16px 19px;
        margin: 0 16px;
        transition: all 0.25s;
        border-radius: 15px;

        &:hover {
            transition: width 2s;
            background: $hover-main-color;
            border-radius: 15px;
        }
    }

    &__link {
        @include nav-text;
    }
}
