.transactions {

    &__name {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__parametrs {
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }

    &__buttons {
        display: flex;
    }

    &__button {
        margin: 0 5px;
        padding: 8px 14px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;

        transition: background-color 1s;

        &:hover {
            background-color: $white-color;
        }

        &--date {
            border: 1px solid #aeb3cd;
            background-color: #f6f7fa;
        }

        &--go {
            display: block;
            padding: 0 30px;
            text-decoration: none;
            cursor: pointer;
            color: $white-color;

            border: 1px solid transparent;
            border-radius: 15px;
            background: $main-color;

            &:hover {
                border: 1px solid $main-color;
                color: $main-color;
            }
        }

        &--editTransactions {
            display: block;
            padding: 0 30px;
            text-decoration: none;
            cursor: pointer;
            color: $white-color;

            border: 1px solid transparent;
            border-radius: 15px;
            background: $main-color;

            &:hover {
                border: 1px solid $main-color;
                color: $main-color;
            }
        }

        &--filter,
        &--export {
            background-color: $white-color;
            display: flex;
            gap: 10px;
        }
    }

    &__exportIcon {
        margin-top: 1px;
    }

    &__filterIcon {
        margin-top: 3px;
    }

    &__search {
        position: relative;
    }

    &__input {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0px;
        background: $white-color;
        border: 1px solid #aeb3cd;
        border-radius: 15px;
        padding: 13px 15px 13px 46px;
        margin-left: 35px;
        margin-bottom: 20px;
        min-width: 300px;
        max-width: 412px;
    }

    &__searchIcon {
        position: absolute;

        &--oval {
            top: 13px;
            left: 52px;
        }

        &--path {
            top: 24px;
            left: 63px;
        }
    }
}
